* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: rgb(5, 46, 11);
}

.navbar li {
    display: inline-block;
     margin: 10px;
}

ul {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.nav-left {
    color: white;
    width: 25%;
    display: inline-block;
    padding: 15px;
}

.nav-center {
    width:40%;
    display: inline-block;
    text-align: center;
}

.nav-right {
    display: inline-block;
    width: 30%;
    text-align: right;
}
.main-image {
    margin: 30px;
    width: 150px;
    height: auto;
}